<% provide(:title, "Home") %>

<div class="mainCont">
<%= image_tag("Site/CellPhone.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    


<h1>Welcome to the Phone Shop!</h1>
<p>We have the best phones available!</p>
<p>Take a look around</p>
<p id="demo">To find out our special discount for today!</p>

<button type="button" onclick='document.getElementById("demo").innerHTML = "20% off with discount code JAVAISGREAT" '>Click Me!</button>


</div>